{% extends "base.html.twig" %}

{% block body %}
    

{# 
le nombre de catégories présentes dans la base de données,
la liste des catégories présentes dans la base de données,
un formulaire permettant de créer une catégorie.
#}

<div>Il y a {{categories|length}} categories enregistrées</div>
<a href="#">+Create Category</a>

{% endblock %}