{% extends 'base.html.twig' %}

{% block title %}Add a category{% endblock %}

{% block body%}

{% if editTitle %}

<h2>Update a category</h2>

{% else %}

<h2>Add a category</h2>

{% endif %}

{{form(formCategorie)}}

{% endblock %}